<footer class="site-footer">
  <div class="site-footer__inner">
    <a class="site-footer__brand" href="{{ site.baseurl }}/">oral histories of farming along the middle rio grande</a>
    <p class="site-footer__credit">
      A collaborative public history project with farmers, students, and community partners documenting place-based knowledge in central New Mexico. Site design and development supported by <a href="https://amaranth.unm.edu">Amaranth Digital Humanities Studio</a> at the <a href="https://www.unm.edu">University of New Mexico</a>.
    </p>
  </div>
</footer>
